-# frozen_string_literal: true
= simple_form_for(@store) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .container
    .form-inputs
      .row
        .col-md-6.col-12
          = f.input :storeName
      .row
        = f.input :password
      .row
        = f.input :address
      .row
        = f.input :img_src, as: :string, label: "Image Source"
    %br
    .form-actions
      = f.button :submit, class: "btn btn-success"

