- c_user = User.find(session[:user_id])
%h1{class: "fst-italic fs-1"}= "Welcome Back #{c_user.name}"

%table{class: "table"}
	%thead
		%tr
			%th Image
			%th ItemName
			%th Price
			%th Store
			%th Add To Cart

	%tbody
		- @fav_items.each do |i|
			%tr
				%td
					%img.p-1{alt: "", height: "75", width: "75", src: i.img_src}
				%td= i.name
				%td= i.price
				%td= i.store.storeName
				%td
					%a{href: "/add_item_to_bucket/#{i.id}"}
						%img.img-fluid.rounded{alt: "", height: "30", width: "30", src: i.getPlusIcon}

=# render "layouts/show_likes_modal"

/ %p
/ 	%a{href: :add_item}
/ 		=button_tag "Add New Item", class: "btn btn-primary"


:javascript
	$(".like_btn").click(function(){
	
		var str = $(this).attr("users");
		var arr = str.split(",")

		tbody = $("#s1")
		tbody.empty()
		for (let i = 0; i < arr.length; i++) {
			if (str.length===0) { break; }
			tbody.append("<tr><td>"+arr[i]+"</td>\n"+"<td><a class=\"d-grid gap-2 mx-auto btn btn-outline-info btn-sm\" href=\"/profile/" + arr[i] + "\">" + "Visit Profile" + "</a></td></tr>");
		}

		//display
		var myModal = new bootstrap.Modal(document.getElementById('like_modal'), {});
		myModal.show();


	})